
#f1{
    margin:0 auto;
    width:300px;
    height:300px;
    border:2px solid black;
    border-radius: 3%;
    padding:20px;
    background-color: rgb(26, 165, 86)
}

#f2{
    margin:0 auto;
    width:500px;
    height:300px;
    border:2px solid black;
    border-radius: 3%;
    padding:20px;
    background-color: rgb(26, 165, 86)
}


.li{
    font-family: calibri;
}

.fs{font-size: 25px;
}

.fs2{
    font-size:20px
}

.bc{
    background-color:mediumaquamarine
}

.signup{
    font-size:30px;
    background-color: rgb(26,165,86);
    color: black;
    border-style: groove; 
    text-align: center;
    
}
.words{
    display:inline;
    width:150px;
    float:left;
}
.input{
    display:inline;
    width:350px;
    float:left;
}
/*f1#hover{
    background-color:powderblue
}
f2#hover{
    background-color:powderblue
}*/